{
    "openapi": "3.0.0",
    "info": {
        "title": "Country",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://restcountries.com/v2",
            "description": "V2"
        }
    ],
    "paths": {
        "/alpha/{code}": {
            "parameters": [
                {
                    "name": "code",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "x-vb": {
                        "defaultValue": "IN"
                    }
                }
            ],
            "get": {
                "operationId": "getAlphaCode",
                "responses": {
                    "default": {
                        "description": "Response for default",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAlphaCode"
                                },
                                "examples": {
                                    "vb": {
                                        "summary": "Example stored by VB User",
                                        "externalValue": "./examples/getAlphaCode/response_default_application_json_vb.json"
                                    }
                                }
                            }
                        }
                    }
                },
                "x-vb": {
                    "actionHint": "getOne"
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GetAlphaCode": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "topLevelDomain": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "alpha2Code": {
                        "type": "string"
                    },
                    "alpha3Code": {
                        "type": "string"
                    },
                    "callingCodes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "capital": {
                        "type": "string"
                    },
                    "altSpellings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "subregion": {
                        "type": "string"
                    },
                    "region": {
                        "type": "string"
                    },
                    "population": {
                        "type": "integer"
                    },
                    "latlng": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    },
                    "demonym": {
                        "type": "string"
                    },
                    "area": {
                        "type": "integer"
                    },
                    "gini": {
                        "type": "number"
                    },
                    "timezones": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "borders": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "nativeName": {
                        "type": "string"
                    },
                    "numericCode": {
                        "type": "string"
                    },
                    "flags": {
                        "type": "object",
                        "properties": {
                            "svg": {
                                "type": "string"
                            },
                            "png": {
                                "type": "string"
                            }
                        }
                    },
                    "currencies": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "code": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "symbol": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "languages": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "iso639_1": {
                                    "type": "string"
                                },
                                "iso639_2": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "nativeName": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "translations": {
                        "type": "object",
                        "properties": {
                            "br": {
                                "type": "string"
                            },
                            "pt": {
                                "type": "string"
                            },
                            "nl": {
                                "type": "string"
                            },
                            "hr": {
                                "type": "string"
                            },
                            "fa": {
                                "type": "string"
                            },
                            "de": {
                                "type": "string"
                            },
                            "es": {
                                "type": "string"
                            },
                            "fr": {
                                "type": "string"
                            },
                            "ja": {
                                "type": "string"
                            },
                            "it": {
                                "type": "string"
                            },
                            "hu": {
                                "type": "string"
                            }
                        }
                    },
                    "flag": {
                        "type": "string"
                    },
                    "regionalBlocs": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "acronym": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "cioc": {
                        "type": "string"
                    },
                    "independent": {
                        "type": "boolean"
                    }
                }
            }
        }
    }
}